.heading{
    background-color: black;
    color: white;
    font-size: 42px;    
    text-align: center;
    margin: 40px;   
}
h2{
    text-align: center;
}
.left
{
    width: 40%;
    background-color: #333;
    color: rgb(220, 251, 252);
    justify-self: right;    
}
.subhead{
    background-color: #222; 
    margin-left: 0%;
}
.plus{
    width: 25px;
    background-color: rgb(216, 197, 197);
    border-radius: 8px;
}
button{
    background-color: rgb(216, 197, 197);
    border-radius: 8px;
    width: 100px;
}
.subbox{
    background-color: rgba(255, 255, 255, 0.315);
    width: 100px;
    border-radius: 10px;
    text-align: center;
}
form{
    margin-left: 10px;
}